<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    {{ head }}
</head>

<body>
    <div id="root" />
    {{ footer }}
</body>
<script src="https://static.bimface.com/api/BimfaceSDKLoader/BimfaceSDKLoader@latest-release.js" charset="utf-8">
</script>
<!-- <script src="lib/jssdk/BimfaceSDKLoader@latest-release.js" charset="utf-8"> -->
</script>
<script type="text/javascript"
    src="https://webapi.amap.com/maps?v=1.4.14&key=9a03b97a0a9e846dd9c8cd806579c038&plugin=AMap.Geocoder,AMap.Autocomplete">
</script>

</html>