<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,shrink-to-fit=no"
    />
    <meta name="theme-color" content="#000000" />
    <link rel="shortcut icon" href="./favicon.ico" />
    <link rel="stylesheet" href="./lib/loader.css" />
    <script
      type="text/javascript"
      src="https://webapi.amap.com/maps?v=1.4.14&key=9a03b97a0a9e846dd9c8cd806579c038&plugin=AMap.MarkerClusterer,AMap.Geocoder,AMap.Autocomplete"
    ></script>
    <script
      src="https://static.bimface.com/api/BimfaceSDKLoader/BimfaceSDKLoader@latest-release.js"
      charset="utf-8"
    ></script>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
      <div class="loader loading">
        <img src="./lib/loader.svg" alt="loader" />
      </div>
    </div>
  </body>
</html>
